* {
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}

.container {
    border: 10px black;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 1440px;
    height: auto;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    /* background-color: #ccc; */
}


/* Css for header */


/* Head1 */

body {
    align-items: center;
    /* Căn giữa theo chiều dọc */
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    /* Đảm bảo font được sử dụng chính xác */
}

.app {
    display: flex;
    justify-content: center;
    width: 1440px;
    background-image: url('./img/Hero\ \(1\).png');
    /* Đảm bảo đường dẫn đúng */
}

.hero {
    position: relative;
    background-position: center;
    height: 594px;
    width: 1080px;
}

.head_1 {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.header_1-left,
.header_1-right {
    display: flex;
    gap: 24px;
}

.header_content {
    display: flex;
    gap: 8px;
    align-items: center;
}


/* Head2 */

.head_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 40px;
    background-color: #f8f8f8;
    border-radius: 40px;
}

.shop-logo {
    display: flex;
    align-items: center;
}

.shop-logo img {
    max-height: 50px;
    margin-right: 10px;
}

.shop-logo p {
    font-weight: bold;
    font-size: 20px;
    margin-left: 8px;
}

.menu {
    flex-grow: 1;
    text-align: center;
}

.list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.list-menu li {
    margin: 0 15px;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.list-menu li:hover {
    color: #F87537;
}

.list-menu li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #F87537;
    opacity: 0;
    transition: opacity 0.3s;
}

.list-menu li:hover::after {
    opacity: 1;
}

.input-head {
    display: flex;
    align-items: center;
}

.input-head_search {
    position: relative;
    margin-right: 20px;
}

.input-head_search input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 200px;
    border: none;
    outline: none;
}

.input-head_search i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 8px;
}

.input-head i {
    margin-left: 20px;
    cursor: pointer;
}


/* hero_content */

.hero_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 174px;
}

.hero_content-left {
    flex: 1;
    max-width: 600px;
    margin-top: -116px;
}

.hero_content-left h5 {
    font-size: 16px;
    font-weight: bold;
    color: #FD7E14;
}

.hero_content-left h2 {
    font-size: 40px;
    margin: 10px 0;
    color: #333;
    font-weight: bold;
}

.hero_content-left p {
    font-size: 14px;
    color: #444;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    /* Sử dụng font chính cho đoạn văn */
}

.hero_content-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero_content-right img {
    width: 627px;
    max-width: 100%;
    /*Giữ đúng tỷ lệ */
    height: 285px;
    object-fit: contain;
    /* Đảm bảo hình ảnh không bị kéo dãn */
}


/* Add more */

i {
    font-size: 20px;
}

.fa-paw {
    font-size: 30px;
}


/* End header */


/* Start fetured product */

.fetured_products {
    margin: auto;
    /* Căn giữa */
    justify-content: center;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
    margin-bottom: 85px;
}

.fetured_products .title-fetured {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.text {
    margin: 0 20px;
}

.text .icon_food p {
    margin-bottom: 12px;
}

.products_box {
    max-width: 120px;
    /* Thay đổi thành max-width để căn giữa */
    height: auto;
    /* Thay đổi thành auto để phù hợp với nội dung */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    justify-content: center;
    /* Căn giữa các item trong grid */
    margin: auto;
    /* Căn giữa trong không gian cha */
}

.box_item {
    width: 344px;
    height: 508px;
    border-radius: 10px;
    border: 1px solid #ff8c00;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.box_item img {
    width: 342px;
    height: 416px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box_item .detailH {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.detailH {
    margin-left: 20px;
}

.box_item .detailH .icon-food {
    text-align: right;
    display: grid;
    margin-right: 20px;
}

.box_item .icon-food .fa-heart {
    color: #FD7E14;
}

.box_item:hover {
    transform: scale(1.05);
}


/* End fetured product */


/* START FOOD FRODUCT */

.containerF {
    display: flex;
    height: auto;
    justify-content: center;
    max-width: 1440px;
    margin-left: 125px;
    margin-right: 126px;
}

.filters {
    width: 235px;
    height: auto;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    /* Xếp theo cột */
    margin-right: 24px;
    background-color: #fff;
    border-radius: 5px;
}


/* ---------- */

.filters .item {
    margin-bottom: 10px;
}

.filters .item input,
.filters .item button {
    width: 100%;
    padding: 5px;
    /* border: none; */
    background-color: transparent;
    border-left: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
}

.filters .item label {
    flex: 1;
}

.filters .item.submit button {
    background-color: #f1892f;
    color: #fff;
}


/*-----------------------*/

.filters h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.filters ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.filters ul li {
    margin-bottom: 10px;
}

.filters input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
}

.filters button {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #e67e22;
    /* Màu nền khi hover */
}

.popular-products p {
    margin-bottom: 10px;
}

.food {
    margin-bottom: 100px;
}

.food .top-bar {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    align-items: center;
}

.filters .searchF {
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.filters .searchF input {
    padding: 5px;
    border-radius: 10px;
    height: 30px;
    width: 280px;
    margin-bottom: 24px;
}

.product {
    /* margin-left: 72px;
    margin-right: 72px; */
    max-width: 1296px;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px
}

.product>.product-item {
    width: 306px;
    padding: 0px;
    height: 390px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #F8F9FA;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product>.product-item:hover {
    transform: scale(1.05);
}

.product img {
    width: 306px;
    height: 300px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    padding: 0px;
}

.product .detailF {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.detailF {
    margin-left: 20px;
}

.product .detailF .icon-products {
    text-align: right;
    display: grid;
    margin-right: 20px;
}

.product .icon-products .fa-heart {
    color: #FD7E14;
}


/* END FOOD PRODUCT */


/* Start footer */

.footer {
    position: relative;
    width: 1440px;
    height: 417px;
    background-color: #FFF0D9;
    display: grid;
    grid-template-rows: 260px 97px;
    row-gap: 60px;
}

.footer .dauchan {
    position: absolute;
    width: 620.3px;
    height: 368.5px;
    padding: 8.94px 0px 39.56px 171.75px;
}

.footer .tron {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 139px;
}

.footer .logo {
    width: 127.27px;
    height: 30px;
}

.footer .inforU {
    width: 1296px;
    height: 188px;
    display: grid;
    grid-template-columns: 349px 82px 111px 150px 173px;
    column-gap: 109px;
    padding: 72px 72px 0px 72px;
}

.footer .infor {
    display: grid;
    grid-template-rows: 100px 24px;
    row-gap: 20px;
}

.footer .infor>.text {
    margin: 0px;
    font-size: 16px;
}

.footer .text {
    padding-top: 20px;
    margin: 0px;
}

.footer .icon-contact {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.footer .icon-contact>.icon {
    font-size: 24px;
}

.footer .title {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.footer .title>.text:first-child {
    padding-top: 20px;
}

.footer .title>.text {
    padding-top: 16px;
}

.footer .store {
    font-size: 16px;
}

.footer .store>p {
    margin: 0px;
}

.footer .store>.br {
    margin-top: 16px;
}

.footer .inforD {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 196px;
}

.footer .text-inforD {
    margin: 0px;
    font-size: 14px;
    padding: 15px 0px 0px 312px;
}

.footer .icon-pay {
    margin: 0px;
    font-size: 24px;
    padding: 0px 312px 0px 0px;
}

.footer .icon-pay {
    display: flex;
    gap: 30px;
}

.footer .icon-pay>.icon {
    font-size: 30px;
}


/* End footer */